In [1]:
import pandas as pd
pd.options.display.max_columns = 40

In [7]:
df = pd.read_csv('../Assets/Datasets/BTS_flight_data/all_departures.csv')
print df.shape

(2155102, 35)

In [8]:
# remove flights that weren't cancelled and have no arrival time or actual elapsed time (diverted?)
diverted = df[((df['CANCELLED'] == 0) & 
         ((df['ARR_TIME'].isnull() == True) | (df['ACTUAL_ELAPSED_TIME'].isnull() == True)))]
print 'diverted', diverted.shape

df = df[~((df['CANCELLED'] == 0) & 
         ((df['ARR_TIME'].isnull() == True) | (df['ACTUAL_ELAPSED_TIME'].isnull() == True)))]

print 'departures', df.shape

diverted (5340, 35)
departures (2149762, 35)

In [9]:
# Replace CANCELLATION CODE nulls with 'N'
df['CANCELLATION_CODE'].fillna('N', inplace=True)

In [13]:
df['CANCELLED'].sum()

50476.0

In [15]:
50476/2149762.0

0.023479808462518178

In [22]:
# Remove columns unrealted to cancellations
df = df[['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE', 'UNIQUE_CARRIER', 'TAIL_NUM',
        'FL_NUM', 'ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID', 'DEST_CITY_MARKET_ID',
        'CRS_DEP_TIME', 'CANCELLED', 'CANCELLATION_CODE', 'FLIGHTS']]

In [21]:
df.isnull().sum()

YEAR                     0
MONTH                    0
DAY_OF_MONTH             0
DAY_OF_WEEK              0
FL_DATE                  0
UNIQUE_CARRIER           0
TAIL_NUM                 0
FL_NUM                   0
ORIGIN_AIRPORT_ID        0
ORIGIN_CITY_MARKET_ID    0
DEST_AIRPORT_ID          0
DEST_CITY_MARKET_ID      0
CRS_DEP_TIME             0
CANCELLED                0
CANCELLATION_CODE        0
FLIGHTS                  0
dtype: int64

In [26]:
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])

In [29]:
df.dtypes

YEAR                            int64
MONTH                           int64
DAY_OF_MONTH                    int64
DAY_OF_WEEK                     int64
FL_DATE                datetime64[ns]
UNIQUE_CARRIER                 object
TAIL_NUM                       object
FL_NUM                          int64
ORIGIN_AIRPORT_ID               int64
DEST_AIRPORT_ID                 int64
DEST_CITY_MARKET_ID             int64
CRS_DEP_TIME                    int64
CANCELLED                     float64
CANCELLATION_CODE              object
FLIGHTS                       float64
dtype: object

In [32]:
df['MONTH_DAY'] = df['MONTH'].astype(str) + '-' + df['DAY_OF_MONTH'].astype(str)

In [34]:
df['MONTH_DAY']

0           1-1
1           1-2
2           1-3
3           1-4
4           1-7
5           1-8
7          1-10
8          1-14
9          1-15
10         1-16
11         1-17
12         1-21
13         1-22
14         1-23
15         1-24
16         1-28
17         1-29
18         1-30
19         1-31
20          1-1
21          1-2
22          1-3
23          1-4
24          1-5
25          1-6
26          1-7
27          1-8
28          1-9
29         1-10
30         1-11
           ...
2155072    7-31
2155073    7-31
2155074    7-31
2155075    7-31
2155076    7-31
2155077    7-31
2155078    7-31
2155079    7-31
2155080    7-31
2155081    7-31
2155082    7-31
2155083    7-31
2155084    7-31
2155085    7-31
2155086    7-31
2155087    7-31
2155088    7-31
2155089    7-31
2155090    7-31
2155091    7-31
2155092    7-31
2155093    7-31
2155094    7-31
2155095    7-31
2155096    7-31
2155097    7-31
2155098    7-31
2155099    7-31
2155100    7-31
2155101    7-31
Name: MONTH_DAY, dtype: object